@charset "UTF-8";

	ul,li{padding:0; margin:0;list-style:none;} 
	div.nav{border:1px solid black; width:250px; overflow:hidden;} 
	div.nav li{line-height:22px; float:left; padding:0 5px;} 
	div.nav li a{color:blue} /*这一条如果没有的话，点击后变成灰色，现在有的话一直显示为蓝色*/
	div.nav li a:hover{color:red;}
	
	